html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

:root {
    --font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

/* sidenav */

.sidenav {
    display: flex;
    flex-direction: column;
    max-width: 429px;
    width: 100%;
}

.sidenav img {
    margin-top: 52px;
    margin-left: 40px;
}

.sidenav__logo {
    display: flex;
    justify-content: space-between;
}

.sidenav-close {
    margin-top: 22px;
    margin-right: -40px;
}

.sidenav__line {
    max-width: 364px;
    height: 1px;
    background-color: #c4c4c4;
    margin-top: 32px;
    margin-left: 39px;
    margin-right: 26px;
}


.sidenav__logo img {
    width: 89px;
}

.sidenav li:nth-of-type(2) {
    margin-top: 36px;
    margin-left: 7px;
}

.sidenav li:nth-of-type(n+3):not(:last-child) {
    margin-top: 12px;
    margin-left: 7px;
}

.sidenav li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 273%;
    color: #263238;
}

.sidenav__button {
    margin-top: 74px;
    margin-left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 210px;
    height: 60px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #000;
    border: 2px solid #263238;
    transition: transform 0.3s ease;
}

.sidenav__button:hover {
    transform: scale(1.1);
}

/* header */
.header {
    padding: 0 130px;
}
.header__top-flex {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 120px;
}

.header__logo img {
    display: inline-block;
    max-width: 106px;
    width: 100%;
    height: 54px;
    transition: transform 0.3s ease;
}

.header__logo img:hover {
    transform: scale(1.1);
}

.header__nav-flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 525px;
    width: 100%;
}

.header__nav__left-flex {
    display: flex;
    gap: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #263238;
}

.header__nav__right-flex {
    display: flex;
    gap: 31px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #263238;
}

.header__nav__right-flex:nth-child(2) {
    margin-right: 7px;
}

.nav__item {
    list-style: none;
}

.nav__item a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
}

.nav__item a:hover {
    transform: scale(1.1);
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 17px 57px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
    transition: border 0.3s ease;
    border: 2px solid transparent;
    border-radius: 5px;
}

.header__button:hover {
    border: 2px solid #263238;
    border-radius: 5px;
    background-position: left;
}

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 30px;
    height: 17px;
}

.burger__line {
    width: 30px;
    height: 3px;
    background-color: #39515e;
    border-radius: 2px;
}

.burger__line:nth-of-type(3){
    width: 21px;
}


@media screen and (max-width: 992px) {
    .header__top-flex {
        margin-top: 25px;
    }

    .header {
        padding: 0 31px;
    }

    .header__logo {
        width: 95px;
    }

    .header__logo img {
        width: 89px;
    }

    .header__nav-flex {
        margin-left: 62px;
        max-width: 414px;
        width: 100%;
        gap: 0px;
    }

    .header__nav__left-flex {
        justify-content: flex-start;
        font-size: 16px;
        gap: 27px;
    }

    .header__nav__right-flex {
        gap: 24px;
    }

    .header__nav__right-flex:nth-child(2) {
        margin-right: 0;
        font-size: 16px;
    }

    .header__button {
        font-size: 18px;
        padding: 11px 40px;
    }

}

@media screen and (max-width: 767px) {
    .header__top-flex {
        margin-top: 25px;
    }

    .header {
        padding: 0 39px;
    }

    .header__logo {
        width: 95px;
    }

    .header__logo img {
        width: 89px;
    }

    .header__nav-flex {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger {
        cursor: pointer;
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    .sidenav {
        max-width: 575px;
        width: 100%;
    }

    .sidenav img {
        margin-top: 45px;
        margin-left: 34px;
    }

    .sidenav-close {
        margin-top: 48px;
        margin-right: -33px;
    }

    .sidenav__line {
        max-width: 510px;
        margin-top: 40px;
        margin-left: 32px;
    }


    .sidenav li:nth-of-type(2) {
        margin-top: 36px;
        margin-left: 2px;
    }

    .sidenav li:nth-of-type(n+3):not(:last-child) {
        margin-top: 19px;
        margin-left: 2px;
    }

    .sidenav__button {
        margin-top: 89px;
        margin-left: 33px;
        width: 330px;
        height: 70px;
    }
}

@media screen and (max-width: 320px) {
    .sidenav {
        max-width: 575px;
        width: 100%;
    }

    .sidenav img {
        width: 71px;
        height: 36px;
        margin-top: 23px;
        margin-left: 16px;
    }

    .sidenav-close {
        margin-top: 18px;
        margin-right: -50px;
    }

    .sidenav__line {
        max-width: 290px;
        margin-top: 14px;
        margin-left: 32px;
    }


    .sidenav li:nth-of-type(2) {
        display: inline-block;
        margin-top: 52px;
        margin-left: -18px;
    }

    .sidenav li:nth-of-type(n+3):not(:last-child) {
        margin-top: 18px;
        margin-left: -18px;
    }

    .sidenav__button {
        margin-top: 79px;
        margin-left: 15px;
        max-width: 291px;
        width: 100%;
        height: 65px;
    }
}

/* started */
.started {
    margin-top: 50px;
}
.started__content-flex {
    padding: 0 122px 0 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.started__left-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.started__left-flex h1 {
    max-width: 386px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    color: #000;
}

.started__left-flex img {
    align-self: center;
    position: absolute;
    top: 92px;
    right: 8px;
}

.started__left-flex p {
    margin-top: 40px;
    max-width: 550px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #8f95a5;
}

.started__button {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #263238;
    border-radius: 15px;
    max-width: 438px;
    height: 118px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}
.started__right {
    max-width: 661px;
}


/* skills */
